@import url('https://fonts.olejka.ru/Ubuntu.css'); /* Default font */
@import url('https://fonts.olejka.ru/Comfortaa.css'); /* Paragraphs on header and footer */
@import url('https://fonts.olejka.ru/Fredoka-One.css'); /* English h1-h5 on some pages */


:root {
  --first-color: #0a0a00;
  --second-color:#fefefe;
  --link-color:  #3bdeff;
}

html, body{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	background-color: var(--first-color);
	color: var(--second-color);
	font-family: 'Ubuntu', sans-serif;
	font-size: 17px;
	box-sizing: border-box;
	scroll-behavior: smooth;
	transition: .3s;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Comfortaa';
	margin: 0;
}
footer p, header p{font-family: 'Comfortaa';}

main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	text-align: center;
}

main img{image-rendering: pixelated;}
main .online {margin-top: 10px;}
main .online ul {
	padding: 0;
	list-style: none;
	margin: 5px 0;
}

footer {
	color: var(--second-color);
	color: #fefefe;
	font-size: 13px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	font-weight: 900;
	margin-bottom: 10px;
	letter-spacing: .5px;
	user-select: none;
}

@media (max-width: 1550px) {footer {letter-spacing: 0;}}